{% extends '../base/index.html' %}

{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Activities</h1>
                </div>
                {% comment %} <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
             
            </ol>
          </div> {% endcomment %}
            </div>
        </div>

    </div>
{% endblock %}
{% block main_content %}

    <div class="content">
        <div class='container-fluid'>
            <!-- This for lebel set-->
            <div class="row">
                <!-- Members -->
                <div class="col-md-3 col-sm-6 col-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <a href='{% url "members" %}'>
                            <i class="fa fa-fw fa-user"></i>
                            </a>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Members</span>
                            <span class="info-box-number">1,410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- Articles -->
                <div class="col-md-3 col-sm-6 col-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="far fa-copy"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Articles</span>
                            <span class="info-box-number">410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- Activity -->
                <div class="col-md-3 col-sm-6 col-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><a href='{% url "activities" %}'><i
                                class="far fa-star"></i></a></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Activities</span>
                            <span class="info-box-number">93,139</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- annocement -->
                <div class="col-md-3 col-sm-6 col-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Articles</span>
                            <span class="info-box-number">13,648</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="card card-primary card-outline">
                        {% for item in Activity %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-2">
                                        <img class="img-thumbnail" style="height:130px;" src="{{ item.pic }}">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-10">
                                        <h2>{{ item.title }}</h2>
                                        <p class="mp_cc">
                                            {{ item.short_descipt }}
                                        </p>
                                    </div>
                                </div>
                                <a style="float: right;" href="activity/details/{{ item.id }}/" class="card-link">Go</a>
                            </div>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- 指示符 -->
                        <ul class="carousel-indicators">
                            {% for item in imglist %}
                                {% if item.id == 1 %}
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                {% else %}
                                    <li data-target="#demo" data-slide-to="0"></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <!-- 轮播图片 -->
                        <div class="carousel-inner" style="border:1px solid #6c757d;">
                            {% for item in imglist %}
                                {% if item.id == 1 %}
                                    <div class="carousel-item active">
                                        <div class="the_img_div">
                                            <img class="img-thumbnail the_v_img"
                                                 src="/media/{{ item.imgurl }}">
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <div class="the_img_div">
                                            <img class="img-thumbnail the_v_img"
                                                 src="/media/{{ item.imgurl }}">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <!-- 左右切换按钮 -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

